body {
  background-color: #000;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

i {
  font-style: italic;
}

a {
  color: #000;
  border: none;
  text-decoration: none;
}

a:hover {
  color: gray;
}

#articles li {
  list-style-type: none;
  padding: 5px;
  font-size: 22px;
  font-weight: bold;
}

#articles li:before {
  content: ">";
  display: block;
  float: left;
  width: 1.2em;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 90%;
  height: 90%;
  margin: 0 auto;
  background: #fff;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

#content {
  clear: both;
  padding-top: 20px;
}

.date {
  color: gray;
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
  height: 4px;
  background-color: #000;
  border-style: none;
}