{% extends "blog/base.html" %}

{% block content %}
<div id="container">
	<h1>{{ article.title }}</h1>
	<div class="date">Posted on {{ article.pub_date }}</div>

	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

	<p>{{ article.body }}</p>
	<div class="date">Last edited on {{ article.last_edit_date }}</div>
	{% if article.tags.all %}
		<div class="tag_list">
			<span>Tags: </span>
			{% for tag in article.tags.all %}
	    		<a href="{% url 'blog:tag' tag.id %}" class="tag" id="tag{{ forloop.counter }}">{{ tag.tag_text }}</a>
			{% endfor %}
		</div>
	{% endif %}
	<hr>
	<h2>Comments</h2>
</div>
{% endblock %}